@model AspNetIdentityDependencyInjectionSample.DomainClasses.Product
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-md-8">
        <section id="productForm">
            @using (Html.BeginForm("Create", "Products", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h4>Product</h4>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Category
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryId", (SelectList)ViewBag.CategoriesList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}